<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="book">
      <h2 data-cy="bookDetailsHeading"><span>Book</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ book.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ book.title }}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
          <span>{{ book.author }}</span>
        </dd>
        <dt><span>Fine Amount</span></dt>
        <dd>
          <span>{{ book.fine_amount }}</span>
        </dd>
        <dt><span>Publisher</span></dt>
        <dd>
          <span>{{ book.publisher }}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
          <span>{{ book.quantity }}</span>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
          <div *ngIf="book.category">
            <a [routerLink]="['/category', book.category?.id, 'view']">{{ book.category?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/book', book.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
