<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-borrowing-heading" data-cy="BorrowingCreateUpdateHeading">Create or edit a Borrowing</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_date_borrowed">Date Borrowed</label>
          <div class="input-group">
            <input
              id="field_date_borrowed"
              data-cy="date_borrowed"
              type="text"
              class="form-control"
              name="date_borrowed"
              ngbDatepicker
              #date_borrowedDp="ngbDatepicker"
              formControlName="date_borrowed"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="date_borrowedDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_due_date">Due Date</label>
          <div class="input-group">
            <input
              id="field_due_date"
              data-cy="due_date"
              type="text"
              class="form-control"
              name="due_date"
              ngbDatepicker
              #due_dateDp="ngbDatepicker"
              formControlName="due_date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="due_dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_return_date">Return Date</label>
          <div class="input-group">
            <input
              id="field_return_date"
              data-cy="return_date"
              type="text"
              class="form-control"
              name="return_date"
              ngbDatepicker
              #return_dateDp="ngbDatepicker"
              formControlName="return_date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="return_dateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_book">Book</label>
          <select class="form-control" id="field_book" data-cy="book" name="book" formControlName="book">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="bookOption.id === editForm.get('book')!.value?.id ? editForm.get('book')!.value : bookOption"
              *ngFor="let bookOption of booksCollection; trackBy: trackBookById"
            >
              {{ bookOption.title }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
